@media screen and (max-width: 990px){
    .logos{
        justify-content: space-evenly;
    }
    .logo{
        margin: 10px;
    }
    .nav-links .hover-links{
        /* display: none; */
    }
    .nav-links ul{
        flex-direction: column;
        position: absolute;
    }
    .main-nav{
        position: relative;
    }
    #ham{
        display: block  ;
    }
    .header-right img{
        width: 100%;
    }
    .header-section{
        display: flex;
    }
    .features-area{
        gap: 0;
    }
    .features-area2{
        gap: 0;
    }
    .card1{
      /* padding-inline: 20px; */
    }
    .card2{
        /* padding-inline: 20px; */
    }
    .card3{
        /* padding-inline: 20px; */
    }
    .image img{
        width: 100%;
    }   
    .big-section.container .text{
        width: 100%;
        margin-left: 50px;
    }
    .big-section.container .image{
        width: 100%;
    }
    .big-section.container{
        margin-top: 20px;
    }
    .big-section{
        background-size: 50%;
    }
    .examples-card {
        width: calc(50% - 10px);
        margin-block: 10px;
    }
    .cta-img{ 
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .header-section{
        flex-direction: column;
    }
    .header-section .header-left{
        width: 100%;
    }
    .header-section .header-left h1{
        font-size: 40px;
    }
    .header-section .header-right{
        width: 90%;
    }
    .features-section .container{
        width: 100%;
        padding: 0;
    }
    .big-section .container{
        /* flex-direction: column-reverse;  
        margin: 0;    */
        position: relative;
    }
    .big-section .container .text{
        /* width: 100%;   */
        margin-top: 50px;
        padding-right: 50px;

        /* z-index: 0; */
        width: 95%;
        position: absolute;
        color: aliceblue;
    }
   
    .big-section .container .image{
        width: 60%;  
        /* position: absolute; */
        /* height: 10; */
    }
    .big-section .container .text p{
        line-height: 1.3;
        font-size: 17px;
    }
    .big-section .container .text h2{
        font-size: 25px;
        color: black;
    }
    .examples-section{
        margin-top: 50px;
    }
    .examples-section .examples-header h2{
        font-size: 25px;
        width: 50%;
    }

    .cta-section {
        position: relative;
    }
    .cta-section .container .cta-text{
        width: 100%;
        position: absolute;
        z-index: 10;
    
    }
    .cta-section .container .cta-img{
        width: 80%;
    }
    .ul-deco ul li{
        color: aliceblue;
    }
    .cta-text h3{
        color: rgb(0, 0, 0);
    }
    .cta-text h1{
        color: rgb(0, 0, 0);
    }
    .cta-text p{
        color: rgb(255, 255, 255);
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }
    .link-column{
        flex-direction: row;
        margin-top: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 479px){
    .primary-button{
        width: 100%;
        display: block;
        text-align: center;
    }

    .features-area .card{
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features-area .card p{
        width: 280px;
    }
}